// Fonts
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700); 

@font-face {
    font-family: "SF Text";
    font-weight: 400;
    src: url(../fonts/SF-UI-Text-Regular.otf);
}

@font-face {
    font-family: "SF Text";
    font-weight: 700;
    src: url(../fonts/SF-UI-Text-Bold.otf);
}

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
