// Variables

$box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
$box-shadow-hovered: 0px 3px 6px 1px rgba(0, 0, 0, 0.16);
$primary-color: #FF4B01;
$grey-color: #8E8E93;
$lighten-black: lighten(#000, 15%);
$border-radius: 13px;

$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

@mixin mobile-lg {
    @media only screen and (min-width: $breakpoint-lg) {
        @content;
    }
}

@mixin dekstop {
    @media only screen and (min-width: $breakpoint-xl) {
        @content;
    }
}

// Variables End

html {
    font-size: 1rem;
}

a:hover {
    color: $primary-color;
    text-decoration: none;
}

h4 {
    font-size: 1.6rem
}

@include dekstop() {
    .container {
        max-width: 1000px;
    }
}

select.nullable option[value=""]:first-child:not(:only-child) {
  color: #a2a2a2 !important;
}

select:not(.nullable) option[value=""]:first-child:not(:only-child) {
  display: none !important;
}

// Webview Promo Section

.promo-webview {
    .big-title {
        font-size: 1.7rem;
        padding: 20px 20px 14px;
        line-height: 1.25;
        font-weight: bolder;
        margin-bottom: 0;
        letter-spacing: 0;
    }
    
    .description {
        padding: 20px 20px;
        font-size: 18px;
        line-height: 1.6;
    }

    hr {
        margin: 2rem 0;
    }

    .terms-button {
        display: block;
        margin-bottom: 1rem;
        text-decoration: none;
    }

    #termsConditions {
        margin-top: 2rem;
    }
}
// Webview Promo Section End

// Dashboard / Home Page Section

section.welcome {
    background-color: #EFFBFF;
    position: relative;
}

.floating-objects {
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    user-select: none;

    >* {
        position: absolute;
        transition: transform 3s cubic-bezier(.165,.84,.44,1);
        will-change: transform;
    }

    .fish {
        width: calc(458px / 2.2);
        top: 19%;
        left: -1%;
    }

    .salad {
        width: calc(539px / 2.2);
        right: 0%;
        top: 9%;
    }

    .tomato {
        width: calc(314px / 2.2);
        top: 38%;
        left: -16%;
    }

    .chicken {
        width: calc(366px / 2.2);
        top: 41%;
        right: -21%;
    }

    .cabbage {
        width: calc(446px / 2.2);
        top: 72%;
        left: -9%;
    }

    .meat {
        width: calc(404px / 2.2);
        top: 71%;
        right: -5%;
    }
}

nav.navbar {
    .language-list {
        display: flex;
        align-items: center;

        .flag-name {
            margin-right: 6px;
            font-weight: 500;
        }

        .caret-down {
            font-size: 12px;
        }

        .flag {
            margin-left: 6px;
            border: #d1d1d6 1px solid;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            overflow: hidden;
            position: relative;
            display: flex;
            justify-content: center;

            img {
                height: 100%;
                position: absolute;
                top: 0;
            }
        }
    }

    @include dekstop() {
        padding-top: 46px;
    }
}

.text-wrapper {
    padding-top: 24px;
    padding-bottom: 170px;
}

.unique-text {
    margin-bottom: 20px;
    line-height: 1;
}

.install-text {
    line-height: 1.5;
    margin-bottom: 20px;
    font-size: 1.1rem;
}

.rom-tabs {
    justify-content: center;
    margin-bottom: 20px;
    
    .nav-item {
        margin: 8px;
        
        a.nav-link {
            background: #fff;
            box-shadow: $box-shadow;
            border-radius: 50px;
            padding: 0.6rem 1.5rem;
            color: $primary-color !important;
            transition: all 300ms ease;
            font-weight: 500;

            &.active,
            &:hover {
                background: $primary-color;
                color: #fff !important;
            }
        }
    }
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -12px -14px;

    .product {
        margin: 12px 14px;
    }
}

.product {
    background: #fff;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    overflow: hidden;
    min-width: 171px;
    max-width: 171px;

    .product-image {
        width: 100%;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 120px;
            height: 120px;
            object-fit: contain;
            object-position: center;
            margin: auto;
        }
    }

    .product-desc {
        padding: 8px;

        .product-name {
            font-size: 14px;
            font-weight: 700;
            color: #000;
            word-break: break-word;
            margin-bottom: .1rem;
            max-height: 38.4px;
            min-height: 38.4px;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;

            p {
                margin-bottom: 0;
                max-height: 38.4px;
                overflow: hidden;
            }
        }

        .product-price {
            font-family: 'SF Text', sans-serif;
            font-size: 16px;
            font-weight: 700;
            color: $primary-color;
            margin-bottom: .5rem;

            +.product-price-lined {
                margin-top: -.4rem;
            }
        }

        .product-price-lined {
            font-family: 'SF Text', sans-serif;
            font-size: 12px;
            color: $grey-color;
            text-decoration: line-through;
            margin-bottom: .5rem;
        }
    }
}

section.about-app {
    background: #fff;
    position: relative;
}

.why-use-rom {
    position: relative;
    z-index: 1;
    padding: 22px 0 22px 34px;
    margin-bottom: 50px;
}

.orange-card {
    background-color: $primary-color;
    background-image: url(/images/illustration.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 85%;
    height: 210px;
    border-radius: $border-radius;
    position: absolute;
    top: -52px;
    left: 0;
    z-index: -1;

    &:after {
        content: "";
        display: inline-block;
        width: 3px;
        height: 50px;
        background: linear-gradient(to bottom, #fff 50%, #FF4B01 50%);
        position: absolute;
        left: 34px;
        bottom: -25px;
    }
}

.info-text {
    margin-top: 80px;
    color: $grey-color;
    line-height: 1.6;
    margin-bottom: 0;
}

.features-info-wrapper {
    flex: 0 0 19%;
    max-width: 19%;
}

.features-wrapper {
    display: flex;
}

.features {
    display: flex;
    flex: 1;
    margin: 0 -22px;
    padding-left: 22px;
}

.feature {
    position: relative;
    background-image: url(/images/fruits.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 22px;
    border-radius: $border-radius;
    color: #fff;
    overflow: hidden;

    &:before {
        content: '';
        background: rgba(0, 0, 0, 0.6);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .content {
        position: relative;
        z-index: 1;
        text-align: center;
        
        .feature-icon {
            padding: 84px 0 50px;
            width: 80px;
        }

        .feature-title {
            color: #fff;
            font-weight: 700;
            font-size: 18px;
            margin-bottom: .7rem;
        }

        .feature-desc {
            color: #fff;
            font-size: 13px;
            margin-bottom: .5rem;
        }
    }
}

.download-now {
    text-align: center;
    background-image: url(/images/left-fruits.png), url(/images/right-fruits.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: -30% 0px, 130% 0px;
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    padding: 30px;
    margin-bottom: 60px;
}

.download-at-store {
    width: 172px;
    margin: 20px 14px 0px;
}

@include dekstop() {
    .download-now {
        background-position: 0% 0px, 100% 0px;
    }

    .download-at-store {
        margin: 40px 14px 50px;
    }
}

// Dashboard / Home Page Section End

// Footer Section

footer {
    a {
        color: #000;
    }
    
    .logo-wrapper {
        margin-bottom: 34px;
    }

    .info-wrapper {
        margin-bottom: 60px;
    }

    .item-wrapper {
        margin-bottom: 20px;
    }

    @include mobile-lg() {
        .item-wrapper {
            margin-bottom: 0;
        }
    }

    .title {
        font-size: 18px;
        font-weight: 700;
    }

    .item-icon {
        width: 40px;
        height: 40px;
        color: $lighten-black;
        border-radius: 50%;
        display: inline-flex;
        margin-right: 14px;
        margin-bottom: 0;
        font-size: 18px;
        box-shadow: $box-shadow;

        &:hover {
            color: $primary-color;
        }

        svg {
            margin: auto;
        }
    }

    hr {
        margin-top: 0;
        margin-bottom: 0;
        border: 0;
        border-top: 2px solid rgba(0, 0, 0, 0.1);
    }

    .copyright {
        padding: 18px 0;
        text-align: center;
        margin-bottom: 0;
    }
}

// Footer Section End

// Useable Class

.text-grey {
    color: $grey-color;
}

.font-weight-medium {
    font-weight: 500;
}

// Useable Class End